	<!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<header id="page-title"> <!-- style="background-image:url('assets/images/demo/parallax_bg.jpg')" -->
				<!--
					Enable only if bright background image used
					<span class="overlay"></span>
				-->

				<div class="container">
					<h1>Descargas</h1>

					<ul class="breadcrumb">
						<li><a href="/">Inicio</a></li>
						<li class="active">Página de Descarga</li>
					</ul>
				</div>
			</header>

			<section class="container">

				<p class="lead"><strong>Encuentra WotLK</strong> con nosotros. Puedes escoger el idioma: Español Latino (esMx),Español Castellano (esEs) o si lo prefieres jugar en Ingles (enUS). </p>
				<!--
					BOOTSTRAP GRID
					4 columns: col-md-3
					3 columns: col-md-4
					2 columns: col-md-2
					
					For more info about bootstrap grid
					http://getbootstrap.com/css/#grid
				-->

				<!-- FOUR COLUMNS -->
				<div class="row pricetable-container">

					<div class="col-md-6 price-table popular">
						<h3>wINDOWS</h3>
						<ul>
                             <li><strong>El juego y el idioma</strong></li>
							<li>WotLK en Español Latino (MX) <a href="#">Mediafire</a> |<a href="#"> Mega</a> |<a href="#"> Torrent</a> </li>
							<li>WotLK en Español Castellano (ES) <a href="#">Mediafire</a> |<a href="#"> Mega</a> |<a href="#"> Torrent</a> </li>
							<li>WotLK en Inglés (US) <a href="#">Mediafire</a> |<a href="#"> Mega</a> |<a href="#"> Torrent</a> </li>
                            <li><strong>Idiomas solamente (sin el juego)</strong></li>
							<li>Español Latino (MX) <a href="#">Mediafire</a> |<a href="#"> Mega</a> |<a href="#"> Torrent</a></li>
							<li>Español Castellano (ES) <a href="#">Mediafire</a> |<a href="#"> Mega</a> |<a href="#"> Torrent</a></li>
							<li>Inglés (US) <a href="#">Mediafire</a> |<a href="#"> Mega</a> |<a href="#"> Torrent</a></li>
						</ul>
					</div>
					<div class="col-md-6 price-table">
						<h3>MAC</h3>
						<ul>
                             <li><strong>El juego y el idioma</strong></li>
							<li>WotLK en Español Latino (MX) <a href="#">Mediafire</a> |<a href="#"> Mega</a> |<a href="#"> Torrent</a> </li>
							<li>WotLK en Español Castellano (ES) <a href="#">Mediafire</a> |<a href="#"> Mega</a> |<a href="#"> Torrent</a> </li>
							<li>WotLK en Inglés (US) <a href="#">Mediafire</a> |<a href="#"> Mega</a> |<a href="#"> Torrent</a> </li>
                            <li><strong>Idiomas solamente (sin el juego)</strong></li>
							<li>Español Latino (MX) <a href="#">Mediafire</a> |<a href="#"> Mega</a> |<a href="#"> Torrent</a></li>
							<li>Español Castellano (ES) <a href="#">Mediafire</a> |<a href="#"> Mega</a> |<a href="#"> Torrent</a></li>
							<li>Inglés (US) <a href="#">Mediafire</a> |<a href="#"> Mega</a> |<a href="#"> Torrent</a></li>
						</ul>
					</div>

				</div>
				<!-- /TWO COLUMNS -->


		</div>
		<!-- /WRAPPER -->