.panel-nav-rounded{

    border-radius: 25px;
    border: 2px solid gray;
 

}

.color-panel , div.color-panel div.divider i.fa.fa-user,div.color-panel div.divider i.fa.fa-info-circle,div.color-panel div.divider i.fa.fa-gamepad,div.color-panel div.divider i.fa.fa-users,div.color-panel div.divider i.fa.fa-trophy,div.color-panel div.divider i.fa.fa-handshake-o,div.color-panel div.divider i.fa.fa-copy{

 background-color:lightslategray;

}

.full{
    width: 100%;
    position: relative;
}

/* Esto es lo del slider, para que se vean los puntitos xd*/

@media screen and (min-width: 300) {

        .sl-top{
        margin-top:0;
        }
    }

 @media screen and (min-width: 990) {

        .sl-top{
        margin-top:-35;
        }
    }
    

   
