
@{
    ViewData["Title"] = "HowToPlay";
}

	<!-- WRAPPER -->
<div id="wrapper">

    <!-- PAGE TITLE -->
    <header id="page-title">
        <!-- style="background-image:url('assets/images/demo/parallax_bg.jpg')" -->
        <!--
            Enable only if bright background image used
            <span class="overlay"></span>
        -->

        <div class="container">
            <h1>¿Cómo conectarse?</h1>

            <ul class="breadcrumb">
                <li><a href="index.html">Inicio</a></li>
                <li class="active">Página de ¿Cómo jugar?</li>
            </ul>
        </div>
    </header>

    <section class="container">

        <h2>Sigue estos pasos para poder jugar <strong>WotLK</strong> en nuestro servidor</h2>

        <div class="divider">
            <!-- divider -->
            <i class="fa fa-check"></i>
        </div>


        <!-- BORN TO BE A WINNER -->
        <article class="row">
            <div class="col-md-6">
                <h3>Guía de <strong>conexión</strong></h3>
                <p><h5><strong><ins>Primero</ins></strong></h5> Deberás registrarte en nuestro servidor como en cualquier otro que hayas jugado. Aunque si no quieres que sea igual prueba nuestro registro con <strong>Facebook, Google o Twitter.</strong> </p>
                <p><h5><strong><ins>Segundo</ins></strong></h5> Una ves registrado solamente queda ir a tu carpeta de World of Warcraft, luego ingresas en <b>"Data"</b> y por último abres el archivo llamado <b>"realmlist.wtf"</b> y reemplazas lo que hay dentro por nuestro realmlist <ins>SET REALMLIST: WOWLATINOS.COM</ins></p>
                <p style="text-align:center">Ver imágenes adjuntas</p>
            </div>
            <div class="col-md-6">
                <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                    <div>
                        <img class="img-responsive" src="assets/images/demo/about_1.jpg" width="555" height="311" alt="">
                    </div>
                    <div>
                        <iframe width="555" height="311" src="http://www.youtube.com/embed/-bdKMT1znJ0"></iframe>
                    </div>
                    <div>
                        <img class="img-responsive" src="assets/images/demo/about_2.jpg" width="555" height="311" alt="">
                    </div>
                </div>
            </div>           
        </article>
        <!-- /BORN TO BE A WINNER -->

    </section>

</div>
<!-- /WRAPPER -->
