	<!-- WRAPPER -->
<div id="wrapper">


    <!-- REVOLUTION SLIDER -->
    <div class="fullscreenbanner-container">
        <div class="fullscreenbanner ken-burns">
            <ul>

                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="400" data-delay="5000">
                    <!-- MAIN IMAGE -->
                    <img src="~/images/lich_king.jpg" alt="kenburns1" data-bgposition="left bottom" data-kenburns="on" data-duration="2000" data-ease="Power4.easeInOut" data-bgfit="200" data-bgfitend="100" data-bgpositionend="center top">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption large_bg_black customin customout tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="bottom" data-voffset="-70"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="400"
                         data-easing="Power4.easeOut"
                         data-end="1500"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 2">
                        Hola a todos
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption large_bg_black customin stl tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="bottom" data-voffset="-70"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="300"
                         data-start="2000"
                         data-easing="Back.easeOut"
                         data-end="3000"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 3">
                        Únete al mejor servidor
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption largepinkbg customin customout tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="bottom" data-voffset="-70"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-customout="x:0;y:180;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="300"
                         data-start="3500"
                         data-easing="Back.easeOut"
                         data-endspeed="300"
                         data-endeasing="Back.easeIn"
                         style="z-index: 4">
                        Para conmemorar <strong> tus aventuras</strong>
                    </div>
                </li>

                <!-- SLIDE  -->
                <li data-transition="flyin" data-slotamount="1" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/images/alliance.jpg" alt="kenburns2" data-bgposition="left bottom" data-kenburns="on" data-duration="10000" data-ease="Power0.easeIn" data-bgfit="120" data-bgfitend="100" data-bgpositionend="right top">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption customin customout tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="bottom" data-voffset="-100"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="4000"
                         data-easing="Back.easeOut"
                         data-endspeed="300"
                         style="z-index: 4">
                        <a href="#" target="_blank" class="btn btn-primary fsize30">Unirse</a>
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption largeblackbg lfl customout tp-resizeme"
                         data-x="100"
                         data-y="143"
                         data-customout="x:0;y:180;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="2000"
                         data-easing="Power4.easeInOut"
                         data-endspeed="300"
                         style="z-index: 3">
                        Tú eliges unirte a la Alianza
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption largeblackbg lfl customout tp-resizeme"
                         data-x="100"
                         data-y="230"
                         data-customout="x:0;y:180;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="3500"
                         data-easing="Power4.easeInOut"
                         data-endspeed="300"
                         style="z-index: 3">
                        PORQUE SÍ XD
                    </div>
                </li>

                <!-- SLIDE  -->
                <li data-transition="cube" data-slotamount="6" data-masterspeed="200" data-delay="7000">
                    <!-- MAIN IMAGE -->
                    <img src="~/images/horde.jpg" alt="kenburns11" data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="115" data-bgfitend="115" data-bgpositionend="right bottom">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption largeblackbg customin stt tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="180"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="600"
                         data-start="500"
                         data-easing="Back.easeOut"
                         data-end="3000"
                         data-endspeed="300"
                         style="z-index: 2">
                        ¿Porqué dudas?
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption largeblackbg sfb stt tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="180"
                         data-speed="600"
                         data-start="3300"
                         data-easing="Back.easeOut"
                         data-endspeed="300"
                         style="z-index: 3">
                        Únete a la horda
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption customin customout tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="bottom" data-voffset="-100"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="4000"
                         data-easing="Back.easeOut"
                         data-endspeed="300"
                         style="z-index: 4">
                        <a href="#" target="_blank" class="btn btn-primary fsize30">Unirse</a>
                    </div>
                </li>

            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
    <!-- /REVOLUTION SLIDER -->
    <!-- WELCEOME -->
    <section class="container">
        <h1 class="text-center">
            <strong>Bienvenidos</strong> a Wow Latinos
            <span class="subtitle">COME ON, DON'T BE SHY! TODAY WE DON'T BITE!</span>
        </h1>

        <div class="divider">
            <!-- divider -->
            <i class="fa fa-star"></i>
        </div>

        <p class="lead">Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>

        <hr /><!-- separator -->
        <!-- FEATURED BOXES 4 -->
        <div class="row featured-box-minimal margin-bottom30">
            <div class="col-md-4">
                <h4><i class="fa fa-group"></i> Development</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
            </div>
            <div class="col-md-4">
                <h4> <i class="fa fa-book"></i> HTML5</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
            </div>
            <div class="col-md-4">
                <h4><i class="fa fa-trophy"></i> CSS3</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
            </div>
        </div>
        <!-- /FEATURED BOXES 4 -->
        <!-- FEATURED BOXES 4 -->
        <div class="row featured-box-minimal margin-bottom30">
            <div class="col-md-4">
                <h4><i class="fa fa-group"></i> Customer Support</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
            </div>
            <div class="col-md-4">
                <h4> <i class="fa fa-book"></i> Sliders</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
            </div>
            <div class="col-md-4">
                <h4><i class="fa fa-trophy"></i> Elite</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
            </div>
        </div>
        <!-- /FEATURED BOXES 4 -->

    </section>
    <!-- /WELCOME -->
    <!-- PARALLAX -->

    <div id="blog">

        <!-- PAGE TITLE -->
        <header id="page-title">
            <div class="container">
                <h1>Noticias</h1>

                <ul class="breadcrumb">
                    <li><a href="/">Inicio</a></li>
                    <li class="active">Noticias</li>
                </ul>
            </div>
        </header>

        <section class="container">

            <div class="blog-timeline">

                <article class="timeline-item pull-left">
                    <div class="item-date">
                        29 <span>Jun</span>
                    </div>

                    <div class="item">

                        <!-- article title -->
                        <div class="item-title">
                            <h2><a href="blog-single-sidebar-left.html">This is an Image Post</a></h2>
                            <a href="blog.html" class="label label-default light"><i class="fa fa-dot-circle-o"></i> Business</a>
                            <a href="blog-single-sidebar-left.html#comments" class="scrollTo label label-default light"><i class="fa fa-comment-o"></i> 3 Comments</a>
                            <span class="label label-default light">June 29, 2014</span>
                        </div>

                        <!-- image -->
                        <figure>
                            <img src="~/images/demo/blog.jpg" class="img-responsive" alt="img" />
                        </figure>

                        <!-- blog short preview -->
                        <p>
                            Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elit purus, ullamcorper vel luctus vitae, venenatis eu odio. Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit. Pellentesque ultricies congue lacus, eget elementum erat lobortis et. Sed non velit neque.
                        </p>

                        <!-- LEER MÁS button -->
                        <a href="blog-single-sidebar-left.html" class="btn btn-xs"><i class="fa fa-sign-out"></i> LEER MÁS</a>

                    </div>

                </article>

                <article class="timeline-item pull-right">
                    <div class="item-date">
                        29 <span>Jun</span>
                    </div>

                    <div class="item">

                        <!-- article title -->
                        <div class="item-title">
                            <h2><a href="blog-single-sidebar-left.html">This is a Video Post</a></h2>
                            <a href="blog.html" class="label label-default light"><i class="fa fa-dot-circle-o"></i> Business</a>
                            <a href="blog-single-sidebar-left.html#comments" class="scrollTo label label-default light"><i class="fa fa-comment-o"></i> 3 Comments</a>
                            <span class="label label-default light">June 29, 2014</span>
                        </div>

                        <!-- vido -->
                        <iframe class="fitvids" src="https://player.vimeo.com/video/70984663" width="800" height="450"></iframe>

                        <!-- blog short preview -->
                        <p>
                            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                        </p>

                        <!-- LEER MÁS button -->
                        <a href="blog-single-sidebar-left.html" class="btn btn-xs"><i class="fa fa-sign-out"></i> LEER MÁS</a>

                    </div>

                </article>

                <article class="timeline-item pull-left">
                    <div class="item-date">
                        29 <span>Jun</span>
                    </div>

                    <div class="item">

                        <!-- article title -->
                        <div class="item-title">
                            <h2><a href="blog-single-sidebar-left.html">Blog Post With Text Only</a></h2>
                            <a href="blog.html" class="label label-default light"><i class="fa fa-dot-circle-o"></i> Business</a>
                            <a href="blog-single-sidebar-left.html#comments" class="scrollTo label label-default light"><i class="fa fa-comment-o"></i> 3 Comments</a>
                            <span class="label label-default light">June 29, 2014</span>
                        </div>

                        <!-- blog short preview -->
                        <p>
                            Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elit purus, ullamcorper vel luctus vitae, venenatis eu odio. Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit. Pellentesque ultricies congue lacus, eget elementum erat lobortis et. Sed non velit neque.
                        </p>

                        <!-- LEER MÁS button -->
                        <a href="blog-single-sidebar-left.html" class="btn btn-xs"><i class="fa fa-sign-out"></i> LEER MÁS</a>

                    </div>

                </article>

                <article class="timeline-item pull-right">
                    <div class="item-date">
                        29 <span>Jun</span>
                    </div>

                    <div class="item">

                        <!-- article title -->
                        <div class="item-title">
                            <h2><a href="blog-single-sidebar-left.html">This is an Audio Post</a></h2>
                            <a href="blog.html" class="label label-default light"><i class="fa fa-dot-circle-o"></i> Business</a>
                            <a href="blog-single-sidebar-left.html#comments" class="scrollTo label label-default light"><i class="fa fa-comment-o"></i> 3 Comments</a>
                            <span class="label label-default light">September 12, 2014</span>
                        </div>

                        <!-- audio -->
                        <iframe class="fullwidth" height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62974792&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>

                        <!-- blog short preview -->
                        <p>
                            Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
                        </p>

                        <!-- LEER MÁS button -->
                        <a href="blog-single-sidebar-left.html" class="btn btn-xs"><i class="fa fa-sign-out"></i> LEER MÁS</a>

                    </div>

                </article>

            </div>


            <!-- load more -->
            <div class="clearfix"></div>
            <div class="blog-timeline-load-more">
                <button class="btn btn-primary btn-lg">CARGAR MÁS</button>
            </div>

        </section>

    </div>
</div>



