		<!-- WRAPPER -->
<div id="wrapper">

    <!-- PAGE TITLE -->
    <header id="page-title">
        <div class="container">
            <h1>Panel de usuario</h1>

            <ul class="breadcrumb">
                <li><a href="/">Inicio</a></li>
                <li class="active">Panel</li>
            </ul>
        </div>
    </header>

    <section class="container">


        <label class="small_thin_grey"><span class="text-info">Creación de la cuenta: </span>25/2/2016</label><br />
        <label class="small_thin_grey"><span class="text-info">Estado de la cuenta: </span>Activo</label>



        <ul class="nav nav-pills isotope-filter isotope-filter" data-sort-id="isotope-list" data-option-key="filter" data-plugin-options='{"useHash": false}'>
            <li data-option-value=".account"><a href="#" id="account">Mi cuenta</a></li>
            <li data-option-value=".character"><a href="#">Personajes</a></li>
            <li data-option-value=".recruit"><a href="#">Recluta a un amigo<span class="badge" style="font-size:8px">Recompensa</span></a></li>
            <li data-option-value=".votes"><a id="votes" href="#">Votos</a></li>
            <li data-option-value=".personalize"><a href="#">Personalizar personaje<span class="badge" style="font-size:8px">Cambios</span></a></li>
        </ul>


        <div class="row">

            <ul class="sort-destination isotope" data-sort-id="isotope-list">

                <li class="isotope-item col-sm-12 col-md-12 account" id="account">
                    <!-- item 1 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h4 class="text-center">Datos personales</h4><br />
                        <div class="input-group">
                            <span class="input-group-addon">Usuario</span>
                            <input id="msg" type="text" class="form-control">
                        </div><br />
                        <div class="input-group">
                            <span class="input-group-addon">Nombre</span>
                            <input id="msg" type="text" class="form-control">
                        </div><br />
                        <div class="input-group">
                            <span class="input-group-addon">Correo</span>
                            <input id="msg" type="email" value="kendaltuanis@hotmail.com" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <br class="hidden-lg hidden-md hidden-sm" />
                        <h4 class="text-center">Puntos</h4><br />
                        <div class="input-group">
                            <span class="input-group-addon">Puntos de votación</span>
                            <input id="msg" type="text" class="form-control" readonly>
                        </div><br />
                        <div class="input-group">
                            <span class="input-group-addon">Puntos de donación</span>
                            <input id="msg" type="text" class="form-control" readonly>
                        </div><br />
                    </div>
                </li>

                <li class="isotope-item character col-sm-12 col-md-12">
                    <!-- item 1 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h4 class="text-center">Personajes</h4><br />
                        <select class="form-control pointer">
                            <option value="" selected="selected">Shahak</option>
                            <option value="">Kahahs</option>
                            <option value="">Yukary</option>
                        </select><br />
                        <label class="small_thin_grey text-center"><span class="text-info text-center">Última conexión:</span> 12/02/2016</label><br />
                        <label class="small_thin_grey text-center"><span class="text-info text-center">Nivel:</span> 80</label><br />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <br class="hidden-lg hidden-md hidden-sm"/>
                        <h4 class="text-center">Últimos logros obtenidos</h4><br />

                    </div>
                </li>

                <li class="isotope-item col-sm-12 col-md-12 recruit">
                    <!-- item 2 -->
                    <div class="col-xs-12 col-sm-6 col-md-7">
                        <h4 class="text-center">Copia la dirección</h4><br />
                        <input class="form-control" value="http://www.wowlatinos.net/register?r=4390"/><br />
                        <label class="text-info"> Copia este link y dácelo a tus amigos. Con esto podrás recibir recompensas como:</label><br />
                        <label class="text-center">* 5 puntos de donación (por cada nuevo amigo).</label><br />
                        <label class="text-center">* 2 piezas de leveo a escoger.</label><br />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5">
                        <img src="~/images/recruit_friend.jpg" width="100%"  height="250px"/>
                    </div>
                </li>

                <li class="isotope-item col-sm-12 col-md-12 votes">
                    <!-- item 3 -->
                    <div class="col-sm-12">                       
                       
                    </div>
                </li>

                <li class="isotope-item col-sm-12 col-md-12 personalize">
                    <!-- item 4 -->
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <h4 class="text-center">Cambio de:</h4><br />

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th> <button class="btn btn-info center-block">Nombre</button></th>
                                        <th> <button class="btn btn-info center-block">Facción</button></th>
                                        <th> <button class="btn btn-info center-block">Raza</button></th>
                                        <th> <button class="btn btn-info center-block">Aspecto (incluye nombre)</button></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <label class="text-center"> Estos cambios se realizan dentro del juego. Acá solamente se solicitan. *CERRAR EL JUEGO CUANDO SE REALIZAN*</label><br />
                    </div>
                </li>



            </ul>

        </div><!-- /.masonry-container -->
        <!-- CALLOUT -->
        <div class="bs-callout text-center nomargin-bottom">
            <div class="col-md-12">
                <h3><strong>Ayúdanos</strong> a crecer <a href="/Account/Panel" class="btn btn-primary btn-lg">Votar</a></h3><br />
            </div>
        </div>
        <!-- /CALLOUT -->


    </section>

</div>


<!-- /WRAPPER -->
