<!-- WRAPPER -->
<div id="wrapper">

	<!-- PAGE TITLE -->
	<header id="page-title">

		<div class="container">
			<h1>Armería</h1>

			<ul class="breadcrumb">
				<li><a href="/">Inicio</a></li>
				<li class="active">Página de Armería</li>
			</ul>
		</div>
	</header>
	

	<section id="armory_left">
		<div class="item-wow"><a></a><span class="get_icon_40828"><div class="item-wow"><a href="http://www.wowmetal.es/item/1/40828" rel-e="item=40828" data-item-slot="0" data-realm="1"></a><img src="https://wow.zamimg.com/images/wow/icons/large/inv_helmet_133.jpg"></div></span>

		</div>
		<div class="item-wow"><a></a><span class="get_icon_51842"><div class="item-wow"><a href="http://www.wowmetal.es/item/1/51842" rel-e="item=51842" data-item-slot="1" data-realm="1"></a><img src="https://wow.zamimg.com/images/wow/icons/large/inv_jewelry_necklace_48.jpg"></div></span>

		</div>
		<div class="item-wow"><a></a><span class="get_icon_40869"><div class="item-wow"><a href="http://www.wowmetal.es/item/1/40869" rel-e="item=40869" data-item-slot="2" data-realm="1"></a><img src="https://wow.zamimg.com/images/wow/icons/large/inv_shoulder_94.jpg"></div></span>

		</div>
		<div class="item-wow"><a></a><span class="get_icon_51356"><div class="item-wow"><a href="http://www.wowmetal.es/item/1/51356" rel-e="item=51356" data-item-slot="14" data-realm="1"></a><img src="https://wow.zamimg.com/images/wow/icons/large/inv_misc_cape_16.jpg"></div></span>

		</div>
		<div class="item-wow"><a></a><span class="get_icon_51474"><div class="item-wow"><a href="http://www.wowmetal.es/item/1/51474" rel-e="item=51474" data-item-slot="4" data-realm="1"></a><img src="https://wow.zamimg.com/images/wow/icons/large/inv_chest_plate26.jpg"></div></span>

		</div>
		<div class="item-wow"><a></a><span class="get_icon_45"><div class="item-wow"><a href="http://www.wowmetal.es/item/1/45" rel-e="item=45" data-item-slot="3" data-realm="1"></a><img src="https://wow.zamimg.com/images/wow/icons/large/inv_shirt_01.jpg"></div></span>

		</div>
		<div class="item-wow"><a></a>
			<div class="item-wow"><img src="http://www.wowmetal.es/application/images/armory/default/tabard.gif"></div>
		</div>
		<div class="item-wow"><a></a><span class="get_icon_51364"><div class="item-wow"><a href="http://www.wowmetal.es/item/1/51364" rel-e="item=51364" data-item-slot="8" data-realm="1"></a><img src="https://wow.zamimg.com/images/wow/icons/large/inv_bracer_17.jpg"></div></span>

		</div>
	</section>


	<section id="armory_stats">
		<center id="armory_stats_top">
			<a href="javascript:void(0)" onclick="Character.tab('stats', this)" class="armory_current_tab">
					Atributos
				</a>

			<a href="javascript:void(0)" onclick="Character.tab('pvp', this)">
					Jugador contra jugador
				</a>
		</center>

		<section id="tab_stats" style="display:block;">
			<div style="width:1200px;height:194px;" id="attributes_wrapper">
				<div id="tab_armory_1" style="float:left;">
					<table cellspacing="0" cellpadding="0" width="367px">
						<tbody>
							<tr>
								<td width="50%">Fuerza</td>
								<td>1455</td>
							</tr>
								<tr>
								<td width="50%">Aguante</td>
								<td>2193</td>
							</tr>
							<tr>
								<td width="50%">Intelecto</td>
								<td>118</td>
							</tr>
							<tr>
								<td width="50%">Poder con hechizos</td>
								<td>0</td>
							</tr>

							<tr>
								<td width="50%">Poder de ataque</td>
								<td>3130</td>
							</tr>
						</tbody>
					</table>

					<center id="armory_stats_next"><a href="javascript:void(0)" onclick="Character.attributes(2)">Siguiente →</a></center>
				</div>

				<div id="tab_armory_2" style="float:left;">
					<table cellspacing="0" cellpadding="0" width="367px">
						<tbody>
							<tr>
								<td width="50%">Temple</td>
								<td>749</td>
							</tr>

							<tr>
								<td width="50%">Armadura</td>
								<td>14781</td>
							</tr>
							<tr>
								<td width="50%">Bloqueo</td>
								<td>5%</td>
							</tr>
							<tr>
								<td width="50%">Esquive</td>
								<td>5.16387%</td>
							</tr>
							<tr>
								<td width="50%">Parada</td>
								<td>5%</td>
							</tr>
						</tbody>
					</table>

					<center id="armory_stats_next">
						<a href="javascript:void(0)" onclick="Character.attributes(1)">← Anterior</a>
						<a href="javascript:void(0)" onclick="Character.attributes(3)">Siguiente →</a>
					</center>
				</div>

				<div id="tab_armory_3" style="float:left;">
					<table cellspacing="0" cellpadding="0" width="367px">
						<tbody>
							<tr>
								<td width="50%">Indice de golpe crítico</td>
								<td>33.6651%</td>
							</tr>
							<tr>
								<td width="50%">Indice de golpe crítico a distancia</td>
								<td>17.6651%</td>
							</tr>
							<tr>
								<td width="50%">Indice de golpe crítico con hechizos</td>
								<td>0%</td>
							</tr>
							<tr>
								<td width="50%">Espítiru</td>
								<td>121</td>
							</tr>
							<tr>
								<td width="50%">&nbsp;</td>
								<td></td>
							</tr>
						</tbody>
					</table>

					<center id="armory_stats_next"><a href="javascript:void(0)" onclick="Character.attributes(2)">← Anterior</a></center>
				</div>
			</div>
		</section>

		<section id="tab_pvp">
			<table cellspacing="0" cellpadding="0" width="367px">
				<tbody>
					<tr>
						<td width="50%">Muertes totales</td>
						<td>547</td>
					</tr>

					<tr>
						<td width="50%">Puntos de honor</td>
						<td>2629</td>
					</tr>

					<tr>
						<td width="50%">Puntos de arena</td>
						<td>125</td>
					</tr>
				</tbody>
			</table>
		</section>
	</section>

	<section id="armory_right">
		<div class="item-wow"><a></a><span class="get_icon_40808"><div class="item-wow"><a href="http://www.wowmetal.es/item/1/40808" rel-e="item=40808" data-item-slot="9" data-realm="1"></a><img src="https://wow.zamimg.com/images/wow/icons/large/inv_gauntlets_72.jpg"></div></span>

		</div>
		<div class="item-wow"><a></a><span class="get_icon_50987"><div class="item-wow"><a href="http://www.wowmetal.es/item/1/50987" rel-e="item=50987" data-item-slot="5" data-realm="1"></a><img src="https://wow.zamimg.com/images/wow/icons/large/inv_belt_62.jpg"></div></span>

		</div>
		<div class="item-wow"><a></a><span class="get_icon_40849"><div class="item-wow"><a href="http://www.wowmetal.es/item/1/40849" rel-e="item=40849" data-item-slot="6" data-realm="1"></a><img src="https://wow.zamimg.com/images/wow/icons/large/inv_pants_plate_25.jpg"></div></span>

		</div>
		<div class="item-wow"><a></a><span class="get_icon_49983"><div class="item-wow"><a href="http://www.wowmetal.es/item/1/49983" rel-e="item=49983" data-item-slot="7" data-realm="1"></a><img src="https://wow.zamimg.com/images/wow/icons/large/inv_boots_plate_12.jpg"></div></span>

		</div>
		<div class="item-wow"><a></a><span class="get_icon_51358"><div class="item-wow"><a href="http://www.wowmetal.es/item/1/51358" rel-e="item=51358" data-item-slot="10" data-realm="1"></a><img src="https://wow.zamimg.com/images/wow/icons/large/inv_jewelry_ring_60.jpg"></div></span>

		</div>
		<div class="item-wow"><a></a><span class="get_icon_50414"><div class="item-wow"><a href="http://www.wowmetal.es/item/1/50414" rel-e="item=50414" data-item-slot="11" data-realm="1"></a><img src="https://wow.zamimg.com/images/wow/icons/large/inv_jewelry_ring_84.jpg"></div></span>

		</div>
		<div class="item-wow"><a></a><span class="get_icon_50362"><div class="item-wow"><a href="http://www.wowmetal.es/item/1/50362" rel-e="item=50362" data-item-slot="12" data-realm="1"></a><img src="https://wow.zamimg.com/images/wow/icons/large/inv_jewelry_trinket_04.jpg"></div></span>

		</div>
		<div class="item-wow"><a></a><span class="get_icon_50343"><div class="item-wow"><a href="http://www.wowmetal.es/item/1/50343" rel-e="item=50343" data-item-slot="13" data-realm="1"></a><img src="https://wow.zamimg.com/images/wow/icons/large/inv_misc_bone_skull_02.jpg"></div></span>

		</div>
	</section>

	<section id="armory_bottom">
		<div class="item-wow"><a></a><span class="get_icon_45950"><div class="item-wow"><a href="http://www.wowmetal.es/item/1/45950" rel-e="item=45950" data-item-slot="15" data-realm="1"></a><img src="https://wow.zamimg.com/images/wow/icons/large/inv_sword_131.jpg"></div></span>

		</div>
		<div class="item-wow"><a></a>
			<div class="item-wow"><img src="http://www.wowmetal.es/application/images/armory/default/offhand.gif"></div>
		</div>
		<div class="item-wow"><a></a><span class="get_icon_50460"><div class="item-wow"><a href="http://www.wowmetal.es/item/1/50460" rel-e="item=50460" data-item-slot="17" data-realm="1"></a><img src="https://wow.zamimg.com/images/wow/icons/large/spell_holy_blessedresillience.jpg"></div></span>

		</div>
	</section>

</div>
<!-- /WRAPPER -->